body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
    
    }
    .main{
        height: 100vh;
        width: 100%;
        background-image: url(/image/pexels-leefinvrede-27015906\ \(1\).jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .right{
        height: 100%;
        width: 50%;
        background-color:blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    
    }
    
    .right input{
        margin: 10px;
    
    }
    .right h1{
        margin-bottom:  -10px;;
    }
    .left{
        height: 100%;
        width: 50%;
        background-color: blue;
        background-image:url(/image/ubunifuu.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left h1{
        margin-left: 60px;
        margin-bottom: -10px;
        color: white;
    
    
    }
    .left h2{
        margin-left: 60px;
        margin-bottom: -30;
        color: white;
    }
    .left p{
        margin-left: 60px;
        font-size: 25px;
        color: bisque;
    }
    .left button{
        margin-left: 60px;
        background-color: aqua;
        color: white;
    }
    .right input{
        height: 10%;
        width: 60%;
        
    }
    .right button{
        height: 10%;
        width: 50%;
        color: black;
       background-color: yellow;
    }
    .right p{
    color: white;
    }
    .right h1{
    color: white;
    }
    .right h2{
     color: white;
    }